.nav {
  &__items {
    display: flex;

    @media only screen and (max-width: 992px) {
      position: absolute;
      top: -2000px;
      padding-top: 20px;
      padding-bottom: 40px;
    }

    @media only screen and (max-width: 992px) {
      flex-direction: column;
      background-color: $dark-blue2;
      align-items: center;
    }
  }

  &__item {
    text-decoration: none;
    color: $font-white;
    margin-right: 40px;
    font-size: 18px;
    padding: 6px 0;
    position: relative;
    transition: color .3s;

    &:hover {
      color: $light-blue;

      &:before {
        opacity: 1;
      }
    }

    &:before {
      content: '';
      height: 15px;
      width: 15px;
      background-color: $light-blue;
      display: block;
      position: absolute;
      left:calc(50% - 7px);
      top:-22px;
      opacity: 0;
      transition: opacity .3s;
    }

    @media only screen and (max-width: 1200px) {
      margin-right: 15px;
    }

    @media only screen and (max-width: 992px) {
      width: calc(100vw - 30px);
      padding: 19px 15px;
      text-align: center;
    }

    &--mobile-only {
      display: none;

      @media only screen and (max-width: 992px) {
        display: inline-block;
      }
    }
  }

  &__toggler {
    display: none;
    height: 40px;
    width: 40px;
    border: 1px solid $white;
    background-color: transparent;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;

    @media only screen and (max-width: 992px) {
      display: flex;
    }

    &__line {
      width: 17px;
      height: 1px;
      margin-bottom: 6px;
      background-color: $white;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.active {
    .nav__items {
      @media only screen and (max-width: 992px) {
        top: 80px;
        left: 0;
      }
    }
  }
}