.textarea {
  width:100%;

  textarea {
    font-size: 18px;
    border-radius: 25px;
    width: calc(100% - 60px);
    padding: 15px 30px;
    font-size: 18px;
    color: $black;

    &:focus-visible, &:focus {
      outline: none;
    }

    &::placeholder {
      color: $black;
    }
  }
}