.newsletter {
  background-color: $dark-blue2;
  padding-top: 90px;
  padding-bottom: 48px;

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media only screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
  }

  &__form {
    width: 40%;

    @media only screen and (max-width: 992px) {
      width: 100%;
    }
  }

  &__field {
    position: relative;
    margin-bottom: 32px;

    .btn {
      height: 50px;
      border-radius: 25px;
      position: absolute;
      top:0;
      right:0;
      width: 122px;
    }
  }

  .heading {
    width: 55%;

    @media only screen and (max-width: 992px) {
      width: 100%;
    }

    h2 {
      font-size: 30px;
      margin-top: 0;
    }
  }
}