.row {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  .col {
    width: 48%;

    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
}